@use "./../base/variables";
@use "./../base/mixins";
@use "./../layout/grid";
.modal-form-search {
  padding: 50px 0px;
}

.flight-list {
  margin-bottom: 58px;
  .is-deposited {
    background-color: #fff6f4;
    box-shadow: 1px 1px 12px 3px rgba(130, 130, 130, 0.25);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px 30px;
    .airline-info {
      img {
        width: 40px;
        height: 40px;
      }
      text-align: start;
      justify-content: space-around;
      display: flex;
      .airline-name {
        display: flex;
        flex-direction: column;
      }
      .name,
      .code {
        text-transform: uppercase;
        font-size: 1.4rem;
      }
    }
    .flight-details {
      display: flex;
      flex-direction: column;
      align-items: center;

      .time-info {
        display: flex;
        align-items: center;
        gap: 10px;

        .time {
          font-size: 2.4rem;
          color: variables.$primaryDark;
        }

        .location {
          font-size: 1.6rem;
          text-transform: uppercase;
          color: variables.$primary;
        }

        .date {
          font-size: 1.2rem;
          color: variables.$primary;
        }
        .arrow-item {
          align-items: center;
          display: flex;
          flex-direction: column;
        }
        .arrow {
          font-size: 2rem;
          color: red;
        }
      }
    }

    .flight-meta {
      text-align: end;
      font-size: 1.4rem;
      .color-info {
        font-size: 2.4rem;
      }
    }

    .col-2 {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
    .box-checked {
      color: white;
      background-color: variables.$info;
      font-size: 1.2rem;
      padding: 4px 12px;
      width: fit-content;
      border-radius: 20px;
      margin-bottom: 10px;
    }
    .btn {
      color: variables.$primaryDark;
      border: 1px solid variables.$info;
      padding: 4px 14px;
      background: none;
      font-size: 1.4rem;
      transition:
        color 0.3s linear,
        background-color 0.3s linear;
      &:hover {
        background-color: variables.$info;
        color: #fff;
      }
    }
    @include mixins.screen(lg) {
      .line {
        display: flex;
        border: 1px dashed variables.$info;
        margin: 10px 0px;
      }

      .btn {
        margin-top: 10px;
        padding: 8px 20px;
        font-size: 1.2rem;
      }
    }
    @include mixins.screen(md) {
      .airline-info {
        .name,
        .code {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }.flight-details{
        .time-info{
          .time{
            font-size: 2rem;
          }.location{
            font-size: 1.4rem;
          }.date{
            font-size: 1rem;
          }
        }

      }.flight-meta{
        .color-dark{
          font-size: 1.2rem;
        }.color-info{
          font-size: 2rem;
        }
      }
    }
  }
  .is-placing {
    padding: 20px;
    box-shadow: 1px 1px 12px 3px rgba(130, 130, 130, 0.25);
    border-radius: 20px;
    background-color: #f7ffff;
    margin-bottom: 20px;
    p {
      text-transform: uppercase;
    }
    .color-info {
      font-size: 2rem;
    }
    .color-dark {
      font-size: 1.6rem;
    }
    .row {
      align-items: center;
    }
    .btn {
      color: variables.$primaryDark;
      border: 1px solid variables.$info;
      padding: 4px 14px;
      background: none;
      font-size: 1.4rem;
      transition:
        color 0.3s linear,
        background-color 0.3s linear;
      &:hover {
        background-color: variables.$info;
        color: #fff;
      }
    }
  }
  .heading {
    #openModelFilter {
      gap: 10px;
      display: none;
    }
    .row {
      justify-content: space-between;
    }
    h1 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .session {
    .filter {
      padding: 20px;
      box-shadow: 1px 1px 12px 3px rgba(130, 130, 130, 0.25);
      .filter-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 1.4rem;
          font-weight: 500;
          div {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
          }
          img {
            width: 30px;
          }
        }
        input {
          min-width: 12px;
          width: 12px;
          height: 12px;
          appearance: none;
          border: 2px solid variables.$info;
          border-radius: 4px;
          cursor: pointer;
          position: relative;
          &:checked {
            background-color: variables.$info;
            border-color: variables.$info;
          }
        }
      }
      .heading {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 1.6rem;
        }
      }
      .box-filter {
        padding-bottom: 44px;
        border-top: 1px solid #ccc;
      }
    }
    .list-ticket {
      background-color: #f7ffff;
      .list-ticket-items {
        .info-ticket {
          display: none;
          padding: 16px;
          background-color: #fff;
          border-radius: 8px;
          margin: 0 auto;
          font-size: 1.4rem;
          line-height: 1.5;
          width: 100%;
          h3 {
            font-size: 1.6rem;
            font-weight: bolder;
            margin-bottom: 20px;
          }
          .ticket-types {
            display: flex;
            justify-content: center;
            margin: 20px;
            .row {
              width: 100%;
              align-items: center;
              justify-content: space-between;
              border-radius: 10px;
              .col {
                margin: 10px 0px;
              }
            }
            label {
              display: block;
              cursor: pointer;
              border-radius: 10px;
              box-shadow:
                rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
              text-align: center;
              padding: 20px;
              transition: all 0.5s ease;
            }

            @include mixins.screen(md) {
              label {
                padding: 10px;
                font-size: 1rem;
              }
            }

            input:checked + label {
              background-color: variables.$primary;
              color: #fff;
            }
          }

          .ticket-section {
            p,
            li {
              line-height: 2;
            }
            font-weight: 500;
            margin-bottom: 24px;
            // border-bottom: 1px dashed #f44336;
            border-top: 1px dashed #f44336;
            padding: 20px 0px;
            .color-dark {
              font-weight: bold;
            }
            &:last-child {
              border-bottom: none;
            }
          }
          @include mixins.screen(md) {
            .ticket-section {
              h3 {
                font-size: 1.2rem;
              }
              p,
              li {
                font-size: 1rem;
              }
            }
          }
          .col-6 {
            // &.info,
            &.price {
              text-align: end;
            }

            &.info {
              ul {
                margin: 4px 0;
                padding-left: 20px;
                li {
                  list-style: disc;
                }
              }
            }

            &.price {
              text-align: right;

              h3 {
                font-size: 1.6rem;
                .total-price {
                  font-weight: bold;
                  font-size: 1.8rem;
                }
              }
              @include mixins.screen(md) {
                h3 {
                  border-top: 1px dashed variables.$info;
                  padding-top: 12px;
                  font-size: 1.2rem;
                  .total-price {
                    font-weight: bold;
                    font-size: 1.4rem;
                  }
                }
              }

              table {
                width: 100%;
                margin-top: 8px;
                border-collapse: collapse;

                th,
                td {
                  padding: 4px;
                  text-align: left;
                  font-weight: 500;
                }

                th {
                  font-size: 1.4rem;
                }

                td:last-child {
                  text-align: right;
                  font-weight: bold;
                }
              }
              @include mixins.screen(md) {
                table {
                  width: 100%;
                  td {
                    font-size: 1rem;
                  }
                  th {
                    font-size: 1.1rem;
                    font-weight: bold;
                  }
                }
              }
            }
          }

          .conditions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4px 16px;
            margin-top: 8px;
            li {
              list-style: none;
              position: relative;
              padding-left: 12px;
            }
          }

          @include mixins.screen(md) {
            .conditions {
              grid-template-columns: repeat(1, 1fr);
              li {
                font-size: 1rem;
              }
            }
          }
        }

        .row {
          width: 100%;
          & > div {
            margin-top: 7px;
          }
        }
      }
      .item-ticket {
        margin-top: 20px;
        padding: 15px;
        box-shadow: 1px 1px 12px 3px rgba(130, 130, 130, 0.25);
        min-height: 100px;
        background-color: #fff;
        border-radius: 20px;
        .airline-info,
        .airline-info-mobile {
          img {
            width: 40px;
            height: 40px;
          }
          text-align: start;
          justify-content: space-around;
          display: flex;
          .airline-name {
            display: flex;
            flex-direction: column;
          }
          .name,
          .code {
            text-transform: uppercase;
            font-size: 1.4rem;
          }
        }
        .flight-details {
          display: flex;
          flex-direction: column;
          align-items: center;

          .time-info {
            display: flex;
            align-items: center;
            gap: 10px;

            .time {
              font-size: 2.4rem;
              color: variables.$primaryDark;
            }

            .location {
              font-size: 1.6rem;
              text-transform: uppercase;
              color: variables.$primary;
            }

            .date {
              font-size: 1.2rem;
              color: variables.$primary;
            }
            .arrow-item {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
            .arrow {
              font-size: 2rem;
              color: red;
            }
          }
        }
        .flight-meta {
          display: flex;
          font-size: 1.4rem;
        }
        .info-price {
          text-align: end;
          .price {
            font-size: 2.2rem;
          }
          .info {
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .btn-detail {
          &.mobile {
            width: 100%;
            display: flex;
            justify-content: end;
            .color-dark.toggle-info {
              font-size: 0.8rem;
              padding: 2px 10px;
              margin-bottom: 10px;
            }
          }
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            border-radius: 20px;
            background-color: inherit;
            border: 1px solid variables.$info;
            font-size: 1.4rem;
            padding: 5px 14px;
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
        .extras {
          display: flex;
          justify-content: space-around;
          .item {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
        .change-seat {
          display: flex;
          justify-content: end;
          select {
            color: variables.$primaryDark;
            border-radius: 20px;
            background-color: inherit;
            border: 1px solid variables.$info;
            font-size: 1.4rem;
            padding: 5px 14px;
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
        .btn-booking {
          align-items: center;
          display: flex;
          justify-content: end;
          .btn {
            width: 120px;
            height: 40px;
            font-size: 1.6rem;
          }
        }
      }
      @include mixins.screen(lg) {
        .item-ticket {
          .line-decor {
            // height: 1px;
            margin: 10px;
            border-bottom: 1px dashed variables.$primary;
          }
          .row {
            align-items: center;
          }
          .airline-info-mobile {
            display: block;
            display: flex;
            gap: 2px;
          }
          .airline-info {
            // display: none;
            gap: 2px;
          }
        }
      }
      @include mixins.screen(sm) {
        .item-ticket {
          .info-price {
            .price {
              font-size: 1.6rem;
            }
            .info {
              font-size: 1rem;
            }
          }

          .flight-details .time-info {
            .time {
              font-size: 1.6rem;
            }
            .arrow-item {
              .arrow {
                font-size: 1.5rem;
              }
            }
          }
          .btn-booking {
            font-size: 10px;
          }
        }
      }
      .list-action {
        display: flex;
        min-height: 100px;
        .date {
          font-size: 1.4rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 20px;
          background-color: #fff;
          box-shadow: 1px 1px 12px 3px rgba(130, 130, 130, 0.25);
          img {
            width: 86px;
          }
          &.active {
            background-color: variables.$primary;
            .color-dark {
              color: #fff;
            }
            .color-primary {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
@include mixins.screen(xxl) {
  #ModalFilter {
    display: none; /* Ẩn mặc định */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* màu nền mờ */
    font-size: 2rem;
  }
  #openModelFilter {
    display: flex;
    align-items: center;
    text-align: end;
    width: fit-content;
    margin-left: auto;
  }
  /* Nội dung modal */
  .modal-content {
    background-color: #fff;
    margin: 10% auto; /* canh giữa */
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
  }
}
