<footer>
    <div class="footer-top">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-4 col-lg-12">
                        <div class="colums">
                            <img src="./svg/footer/logoTicket.svg"
                                alt="Logo Ticket">
                            <p class="heading">MEMBER OF PROTECH GROUP</p>
                            <p>The most prestigious ticket
                                booking website in Vietnam ing website in Vietn</p>
                            <hr>
                            <div class="qr-code">
                                <img src="./img/QR-code.png" alt>
                                <img src="./img/QR-code.png" alt>
                                <img src="./img/QR-code.png" alt>
                                <img src="./img/QR-code.png" alt>
                            </div>
                        </div>
                    </div>
                    <div class="col-2  col-lg-6 col-md-12">
                        <div class="colums">
                            <p class="heading">About Us</p>
                            <ul>
                                <li><a href="#">Introduction</a></li>
                                <li><a href="#">Customer reviews</a></li>
                                <li><a href="#">Operational Regulations</a></li>
                                <li><a href="#">Information privacy policy</a></li>
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2  col-lg-6 col-md-12">
                        <div class="colums">
                            <p class="heading">Tutorials & Help</p>
                            <ul>
                                <li><a href="#">Frequently asked questions</a></li>
                                <li><a href="#">Ticket booking guide</a></li>
                                <li><a href="#">Payment Guide</a></li>
                                <li><a href="#">Review your order</a></li>
                                <li><a href="#">Print e-tickets</a></li>
                                <li><a href="#">Feedback about orders</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4 col-lg-12">
                        <div class="colums">
                            <div>
                                <p class="heading">Hotline 24/7 : </p>
                                <a class="number-phone" href="tel:+84919005320">09 1900
                                    5320</a>
                            </div>
                            <p class="heading">PROSPERITY TOURISM AND TECHNOLOGY GROUP
                                JOINT STOCK COMPANY</p>
                            <p class="heading">No. 19 Alley 5, Do Nha Street, Tay Mo Ward,
                                Nam Tu Liem District, Hanoi City, Vietnam</p>

                            <form action>
                                <input type="text" placeholder="Email">
                                <button>Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-content">
                <div>
                    <p>©2023 Pro Tech Group</p>
                </div>
                <div>
                    <ul>
                        <li><a href="#">www.vemaybayso.vn</a></li>
                        <li><a href="#">www.tickit.vn</a></li>
                        <li><a href="#">www.evoucher.vn</a></li>
                        <li><a href="#">www.protravel.vn</a></li>
                    </ul>
                </div>
                <div><ul>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul></div>
            </div>
        </div>
    </div>
</footer>