<nav class="navigation">
  <div class="container">
    <div class="nav">
      <ul class="menu">
        <li><a href="3">khách sạn</a></li>
        <li><a href="3">Tour</a></li>
        <li>
          <a href="3">Vé máy bay</a>
          <ul class="sub-menu">
            <li>
              <a href="/123">máy bay</a>
              <ul class="sub-menu">
                <li><a href="/123">máy </a></li>
                <li><a href="/123">máy bay</a></li>
                <li><a href="/123">máy bay</a></li>
              </ul>
            </li>
            <li><a href="/123">máy bay</a></li>
            <li><a href="/123">máy bay</a>
              <ul class="sub-menu">
                <li><a href="/123">máy bsssss bsssss bsssss bsssss </a></li>
                <li><a href="/123">máy bay</a></li>
                <li><a href="/123">máy bay</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="3">khách sạn</a></li>
        <li><a href="3">Tour</a></li>
        <li><a href="3">Tour</a></li>
        <li><a href="3">Tour</a></li>

      </ul>
      <div class="action">
        <div class="btn-action">
          <a><img src="./svg/header/facebook.svg" alt /></a>
          <a><img src="./svg/header/mess.svg" alt /></a>
        </div>
        <div class="user-info">
          <a href="tel:0919005320"><img src="./svg/header/phone.svg" alt />
            0919005320
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>